<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Kimlic!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="column xs-12">
          <strong>Kimlic Demo Relying Party</strong>
        </div>
      </div>

      <main class="row" role="main">
        <div class="column xs-12">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div> 

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script>window.userToken = "<%= assigns[:user_token] %>"</script>

    <script type="text/javascript">
      var iOS = /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
      var is_uiwebview = /(iPhone|iPod|iPad).*AppleWebKit(?!.*Safari)/i.test(navigator.userAgent);
      var ua = navigator.userAgent.toLowerCase();
      var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");

      if (isAndroid) {
        notyfy({
          text: 'Download Kimlic App from Play Store: https://play.google.com/store/apps/details?id=com.kimlic',
          layout: 'top',
          dismissQueue: true,
          style: 'bootstrap',
          type: 'information',
          buttons: [{
            addClass: 'btn btn-success btn-small btn-icon glyphicons ok_2',
            text: '<i></i> Go!',
            onClick: function ($notyfy) {
              $notyfy.close();
              window.location.href = 'https://play.google.com/store/apps/details?id=com.kimlic'
            }
          }, {
            addClass: 'btn btn-danger btn-small btn-icon glyphicons remove_2',
            text: '<i></i> Close',
            onClick: function ($notyfy) {
              $notyfy.close();
            }
          }]
        });
      }
    </script>
  </body>
</html>